/**LOGGED IN STYLES**/

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

a{text-decoration:none; color:#026fa8;}

.left{float:left;}.right{float:right;}.clear{clear:both;}
.no-padding{
	padding:0px !important;	
}
body {
	background:#F5F6F7;
	font-family:"Ubuntu",sans-serif;	
	color:#333;
	font-size: 14px;
	-webkit-font-smoothing: antialiased
}
iframe{display:none;}
h1{
	font-size:20px;
	color:#026fa8;
	margin:5px 0;
	float:left;
	font-weight:bold;
}
h2{
	font-size:16px;
	color:#3c3c3c;
	font-weight:bold;
	margin-right:18px;
}
h3{
	font-size:16px;
	text-align: center;
	font-weight: bold;
	color:#0B7EB9;
}
h4{
	font-size:12px;
	color:#026fa8;
	float:right;	
	position:relative;
	top:10px;
}
hr{
	border:none;
	height:1px;
	border-bottom:1px soild #c8c8c8 !important;	
	margin-bottom:10px;
}
input[type=text]{
	border:1px solid;	
}
strong {
	font-weight: bold;
}
.caption {
	font-size:14px;
	padding: 5px 0;
	line-height: 18px;
}
.subtitle{
	font-size:14px;
	margin-top:5px;
	color:#acacac;	
}
.box {
	margin: 10px 3px;
	padding:10px;
	box-shadow:0px 2px 4px 0 #c8c8c8;
	border:1px solid #ccc;
}
.inner {
	width:980px;
	margin:0px auto;	
}
.segmented_tabs {
	float:right;
}
	.segmented_tabs .segment {
		background-color: whiteSmoke;
		background-image: -webkit-gradient(linear,left top,left bottom,from(whiteSmoke),to(#F1F1F1));
		background-image: -webkit-linear-gradient(top,whiteSmoke,#F1F1F1);
		background-image: linear-gradient(top,whiteSmoke,#F1F1F1);
		border: 1px solid gainsboro;
		border: 1px solid rgba(0, 0, 0, 0.15);
		color: #777;
		float: left;
		padding:8px 15px;
		font-size:13px;
		font-weight: bold;
		text-shadow: 0 1px 0 rgba(255,255,255,0.7);
	}
	.segmented_tabs .segment.left {
		border-right:transparent;
		border-radius:3px 0 0 3px;
	}
	.segmented_tabs .segment.right {
		
		border-radius:0 3px 3px 0;
	}
	.segmented_tabs .segment.active {
		background-color: #EEE;
		background-image: -webkit-gradient(linear,left top,left bottom,from(#EEE),to(#E0E0E0));
		background-image: -webkit-linear-gradient(top,#EEE,#E0E0E0);
		background-image: linear-gradient(top,#EEE,#E0E0E0);
		border: 1px solid rgba(0, 0, 0, 0.15);
		-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
		color: #222;
		margin: 0;
	}
.button {
	color: #444;
	background-image: -webkit-linear-gradient(top, #f8f8f8, #f0f0f0);
	font-size: 13px !important;
	font-weight: bold;
	overflow: hidden;
	border-radius: 2px;
	border: solid 1px #CCC;
	position: relative;
	cursor: pointer;
	display: block;
	padding: 7px 12px;
	box-shadow:  inset 0 1px 0 0 #fff;
	padding-top:8px;
	text-align:center;
}
.button.left {
 margin-right: 5px;
}

.pagination a.button{
	float:left;
	margin:0px 3px;
}

.blue_button{
	background: #0491d8; /* Old browsers */
	background: -moz-linear-gradient(top, #0491d8 0%, #026fa8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0491d8), color-stop(100%,#026fa8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0491d8 0%,#026fa8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0491d8 0%,#026fa8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #0491d8 0%,#026fa8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #0491d8 0%,#026fa8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0491d8', endColorstr='#026fa8',GradientType=0 ); /* IE6-9 */
	border: 1px solid #015380;
	color: white !important;
	box-shadow:  inset 0 1px 0 0 rgba(255,255,255,0.45);	
	padding-top:8px;
}
.green_button{
	background: #49D509; /* Old browsers */
	background: -moz-linear-gradient(top, #54D509 0%, #3D9C06 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#54D509), color-stop(100%,#3D9C06)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #54D509 0%,#3D9C06 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #54D509 0%,#3D9C06 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #54D509 0%,#3D9C06 100%); /* IE10+ */
	background: linear-gradient(to bottom, #54D509 0%,#3D9C06 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54D509', endColorstr='#3D9C06',GradientType=0 ); /* IE6-9 */
	border: 1px solid #2D6F05;
	color: white !important;
	box-shadow:  inset 0 1px 0 0 rgba(255,255,255,0.45);	
	padding-top:8px;
}
.blue {
	color:#026fa8;	
}
.sq24 {
	width:24px;
	height:24px;
	overflow:hidden;	
	display:inline-block;
	position:relative;
	top:2px;
	float:left;
	background-size:cover;
	background-position:center center;
	margin-right:5px;
}
.sq24 img {
	margin:0px;	
}
.meta {
	color:#888;
	font-size:12px;
}
.tab_box{
    border-bottom:1px solid #c8c8c8;   
}
.tab_box .tab{
    display:inline-block;
    padding:8px 12px; 
    font-size:14px;
    position:relative;
    top:1px;
    border-radius:5px 5px 0 0;  
    color:#0C7EB9;  
    border-bottom:1px solid transparent;    
}
.tab_box .tab.active {
    border:1px solid #c8c8c8;  
    background:#fff !important;
    color:#333;
    border-bottom:1px solid #fff !important;
    cursor:default !Important;
}
.tab_box .tab{
    background:#f0f0f0;
    border-bottom:1px solid #c8c8c8;   
    cursor:pointer;    
}
.tab_content {
	border:1px solid #c8c8c8;
	border-top:none;
	padding:15px;	
	min-height: 400px;
}
.small  {
	font-size: 13px;
	color:#666;
}
.strong {
	font-weight: bold;
}
small {
	font-size:11px;
	color:#585858;
}
.button_outside_border_green{
	width:40%;
	border:solid #3b6e22 1px;
	border-bottom:solid #2c5115 1px;
	cursor:pointer;
	font-weight: bold;
}

.button_inside_border_green{
	padding:6px 0 6px 0;
	background-color:#68a64c;
	border-top:solid #98c286 1px;
	text-align:center;
	color:#fff;
}

div.button_inside_border_green:active{
	background-color:#609946;
}

/*
#5c75a9 background color
#8a9cc2 top border
#29447e border
#1a356e border bottom
#4f6aa3 hover background color
*/

.button_outside_border_blue{
	width:40%;
	border:solid #29447e 1px;
	border-bottom:solid #1a356e 1px;
	cursor:pointer;
	font-weight: bold;
	margin-top: 10px;
}

.button_inside_border_blue{
	padding:6px 0 6px 0;
	background-color:#5c75a9;
	border-top:solid #8a9cc2 1px;
	text-align:center;
	color:#fff;
}

div.button_inside_border_blue:active{
	background-color:#4f6aa3;
}

/** Header **/

#header {
	background:#0c7eb9;	
	border-bottom:1px solid #004163;
	height:30px;
	padding:10px 0;	
}
	#header #client_name{
		font-size:16px;
		color:#fff;
		font-weight:600;
		margin:7px;
	}
	#header #nav {
		font-size:14px;
		margin-top:7px;
	}
	#header ul li {
		display:inline-block;	
		position:relative;
	}
	
	#header ul li ul {
		position:absolute;
		top:18px;
		left:0px;
		width:200%;
		background:#fff;
		borer-radius:0px 0px 5px 5px;
		z-index:1000;
		display:none;
		border:1px solid #004163;;
	}	
	#header ul li ul li {
		display:block;
		padding:5px;
		border-bottom:1px solid #c8c8c8;
			
	}
	#header ul li ul li a {
		color:#888;	
	}
	#header #search {
		width:370px;
		background:#fff;
		margin:auto;
		border:1px solid #004163;
		border-radius:4px;
		height:28px;
		background:url('../img/search.png') 98% 50% no-repeat #fff;
		box-shadow:inset 0 1px 2px 0px rgba(0,0,0,0.2);
	}
	#header #search input[type=text]{
		width:355px; 
		margin:6px; 
		color:#aaa; 
		border:none;  
		background:transparent;
		outline:none !important;	
	}
#header a {
	color:#fff;	
}
	
/** Content **/
#content {
	margin-top:20px;
	min-height:700px;	
}

/** Side Nav **/
#side {
	background:#fff;
	min-height:800px;	
	width:180px;
	border-color: #E5E5E5 #DBDBDB #D2D2D2;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	-moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}
#side .link {
	font-size:13px;
	color:#595959;
	border-bottom:1px solid #c8c8c8;
	cursor:pointer;
	padding:10px 10px 9px 5px;
	padding-left:5px;
	border-left:5px solid transparent;
}
#side .link:hover {
	border-left:5px solid #c8c8c8;	
}
#side .link.current {
	color:#026FA8;
	border-left:5px solid #026FA8;
}

#side .link .icon {
	margin-right:8px;
	position:relative;
	top:1px;	
}
#side .link .title{
	position:relative;
	top:3px;	
}
#main {
	background:#fff;
	padding:10px;
	width:779px;
	position:relative;
	min-height:800px;	
	border-color: #E5E5E5 #DBDBDB #D2D2D2;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	-moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	border-left:1px solid #d8d8d8;
}
#footer {
	background:#0c7eb9;	
	border-top:1px solid #004163;
	height:50px;
	padding:10px 0;		
	margin-top:30px;
}
#footer {
	min-height:135px;
	padding-top:20px;
}	
	#footer ul {
		margin-top:10px;	
	}
	#footer .right {
		color:#fff;
		font-size:13px;
		margin-top:20px;
		line-height:18px;	
	}
	#footer .right a {
		color:#b3e3ff;	
	}
	#footer hr {
		border:none;
		border-bottom:1px solid #4188ad;	
	}
	#footer ul li {
		color:#b3e3ff;
		padding:5px 0;	
		font-size:14px;
	}
	#footer ul li a {
		color:#b3e3ff;
		text-decoration:none;
		padding:5px 0;	
		font-size:14px;
	}
/** Dashboard **/

#recent_activity, #recent_stats{
	width:48%;	
	text-align:left;
	margin-top:20px;
	min-height:320px;
}
#recent_activity {
	border-right:1px solid #d8d8d8;	
	padding-right:2%;
}
.stat-box {
	width:33%;
	text-align: center;
	border-right:1px solid #c8c8c8;
	padding:10px 0;
	
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
}
	.stat-box .count {
		font-size: 36px;
		font-weight: bold;
	}
	.stat-box .count.first {
		color:#66991E;
	}
	.stat-box .count.second {
		color:#339999;
	}
	.stat-box .count.third {
		color:#FB6719;
	}
/** MY ACCOUNT **/

#settings_table tr td input[type=text],#settings_table tr td textarea,#settings_table tr td select{
	border:1px solid #c8c8c8;
	padding:5px;
	border-radius:3px;
	box-shadow:inset 0px 1px 3px 0 rgba(0,0,0,.2);	
}
#change_avatar {
	position:absolute;
	bottom:0px;
	width:100%;
	font-size:12px;
	background:rgba(255,255,255,.2);	
}
/** Lead Row **/
.lead_row{
	padding:0px;
	border:1px solid #ccc;
	border-bottom:0px;
}
	.lead_row:last-child{
		
	}
	.lead_row:hover{
		background:#FAF8D3;	
		cursor:pointer;
	}
.status {
	border-radius:2px;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
	color:#fff;
	background:#999;
	padding:3px 5px 4px 5px;
	text-align:center;	
	
	position:relative;
	font-size:11px;
	top:0px;
}

.new {
	background:#0db4e4;	
}
.active {
	background:#e4680d;	
}
.won {
	background:#50a626;	
}
.dead {
	background:#a62626;	
}

.star_cell{
	position:relative;
	top:1px;	
}
.name_cell{
	position:relative;
	top:0px;
	font-size:14px;
	color:#026fa8;
	line-height:16px;
}
	.name_cell small {
		font-size:11px;	
		text-transform:uppercase;
		color:#acacac;
	}
.date_cell{
	font-size:12px;
	color:#acacac;
	position:relative;
	top:0px;	
}
.assign_cell{
	font-size:12px;	
	color:#acacac;
}
.yellow {
	color:#FED970   !important;	
}
.message {
	padding:10px;	
}
.info {
	background:#f0db94;	
	color:#80744f;
	border-bottom:1px solid #f1e2b1;
	outline:1px solid #c8aa47;
}
/** Activity Styles **/

.activity {
	font-size:13px;	
	border:1px solid #ccc;
	background:#fff;
	margin:3px 0;
	padding:3px;
}

.activity.new{
	background:#FAF8D3;	
}

.activity .name, .news_comments .name {
	font-weight:bold;
	font-size:13px;	
}
.activity .small {
	font-size:13px;	
	color:#666;
}
small.timestamp {
	font-size:11px;
	color:#8a8a8a;	
}
span.comment_count{
	font-weight:bold;
	position:relative;
	top:-3px;
	left:1px;
	color:#7f7f7f;	
}


/** Activity Comments **/
.news_comments {
	font-size:13px;	
	border:1px solid #ccc;
	background:#fff;
	padding:3px;
	margin:3px 0;
	margin-left:37px;
}

.comForm{
	padding:3px;
	border:1px solid #ccc;
	width:328px;
	margin-left:37px;
}

.comForm textarea{
	color:#AAA;
	font:inherit;
	font-size:13px;
}
/** Lead Details **/

#lead_content{
	background:#fff;
		
}
#lead_content .top_section {
	padding:20px;	
}
	#lead_content h2 {
		font-size:24px;
		font-weight:600;
		color:#000;
			
	}
	#lead_content h3 {
		font-size:14px;
		color:#626262;
		margin-top:6px;		
		font-weight:600;
	}
	#lead_content .address {
		font-size:13px;
		color:#808080;
		font-weight:600;	
	}
	#lead_content .social_link{
		font-size:13px;
		color:#626262;	
		margin-right:10px;
		font-weight:600;
	}
	#lead_content .facebook {
		color:#4c67a1;	
	}
	#lead_content .linkedin {
		color:#2b84c6;	
	}
	#lead_content .off {
		color:#8c8c8c;	
	}
	#lead_content .social_link img {
		position:relative;
		top:3px;
			
	}
	.field_label{
		font-weight:bold;
		color:#333;
		font-size:13px;
		
		width:120px;
		vertical-align:middle;
		line-height:12px;
		
		
	}
	.field_value {
		font-size:14px;	
		color:#333;
		line-height:18px;
		vertical-align:middle;
	}
	.milestone-list {
		margin-top:5px;	
		width:395px;
	}
	.milestone_capsule {
		display:inline-block;
		font-size:10px;
		text-transform:uppercase;
		padding:5px;
		padding-top:6px;
		border-radius:2px;
		border:1px solid #ce922e;
		color:#996633;
		cursor:pointer;
		margin:0px 0px 5px 0;
		font-weight:bold;
		box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.5);
		background: #fed970; /* Old browsers */
		text-shadow:rgba(255,255,255,0.5) 0 1px 0;
		background: -moz-linear-gradient(top,  #fed970 0%, #febc4a 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fed970), color-stop(100%,#febc4a)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #fed970 0%,#febc4a 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #fed970 0%,#febc4a 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #fed970 0%,#febc4a 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #fed970 0%,#febc4a 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fed970', endColorstr='#febc4a',GradientType=0 ); /* IE6-9 */
	}
	.milestone_capsule .dot {
		background-image:url('../img/tag-dot.png');
		width:13px;
		position:relative;
		top:1px;
		height:14px;
		float:left;	
	}
	.milestone_capsule .ms_text {
		margin:3px;
		float:left;	
	}
	.milestone_capsule.active {
		background: #fccc79; /* Old browsers */
		


	}
	.milestone_capsule.active .dot {
		background-image:url('../img/tag-dot-on.png');
		width:13px;
		position:relative;
		top:1px;
		height:14px;
		float:left;	
	}
	.milestone_capsule input[type=checkbox]{
		display:none;	
	}
	#lead_content .field {
		
		padding:5px 0;	
		background:#fff;
		margin:0;
	}
	.id_cell{
		font-size:12px;
		color:#aaa;	
	}
	#lead_content #milestone_list {
		margin-right:10px;	
		width:365px;
	}
	#lead_content .lead_table{
		margin:10px 0;	
	}
	#lead_content .lead_table_label {
		font-size:12px;
		color:#999;	
		padding:6px 20px 0 0;
	}
	#lead_content .lead_table_value {
		font-size:13px;
		color:#222;	
	}
	#lead_content #milestone_list table {
		border:1px solid #006395;
		margin-top:3px;	
	}
	#lead_content #milestone_list table tr td {
		border-bottom:1px solid #006395;	
	}
	#lead_content #milestone_list table tr td {
		font-size:12px;	
		font-weight:600;
		color:#006395;
	}
	#lead_content #milestone_list table tr.active td {
		background:#006395;
		color:#fff;	
	}
	#lead_content table tr td.label {
		font-size:14px;
		color:#666;	
	}
	
	#lead_content h5 {
		color:#006395;
		font-size:13px;
		font-weight:600;	
	}
	#lead_content .mini_user_box {
		
		padding:px 0;
		margin:5px 0;
		font-size:11px;	
		text-transform:uppercase;
		color:#999;
	}
	#lead_content .mini_user_box strong{
		font-weight:bold;
		text-transform:none;	
		color:#333;
		font-size:12px;	
	}
	#lead_content .mini_user_box .user{
		margin-right:5px;
		margin-left:1px;
	}
	#activity {		
		
	}
	#fields {
		
		margin-bottom:15px;
		
	}
	.labelcell{
		font-size: 13px;
		color:#555;
		margin-top: 5px;
	}
	#lead_content h3.left {
		background: #fff;
		position: relative;
		z-index: 5;
		padding-right:5px;
	}
	.inputcell input[type=text] {
		border:1px solid #c0c0c0;
		padding: 6px;
		font-size: 14px;
		outline: none !Important;
		color:#333;
		width: 200px;
	}
	.dd-container {
		float:left;
		margin-right:5px;	
	}
	.dd-container,.dd-select, .dd-selected{
		font-size:12px !important;	
		color:#666;
		font-weight:600 !important;
		background-image:-webkit-linear-gradient(top,whiteSmoke,#F1F1F1);
	}
	.dd-selected{
		padding:4px 6px !important;	
		line-height: 21px !Important; 
		
	}
	.dd-selected-text{
		line-height:21px !important;	
	}
	.dd-option-text {
		font-weight:normal !Important;
		line-height:20px !important;	
	}
	.dd-option-text .swatch_select, .dd-selected .swatch_select{
		margin:0px;
		margin-right:5px;
		width:20px;
		height:20px;	
	}
	
	.dd-option-image, .dd-selected-image{
		width:20px !important;
		height:20px;
		max-width:20px;
		background-size:cover;
		background-position:center center;
	}
	#formcontainer {
			
	}
	.proposal {
		font-size:14px;
		color:#777;
		padding:10px 0;
		border-bottom: 1px dashed #d0d0d0;
	}
	.proposal strong {
		color:#333;
		
	}
	.prob_cold {
		color:#d10000;
	}
	.prob_warm {
		color:#d19800;
	}
	.prob_hot {
		color:#76d100;
	}
	.proposal_doctype{
		position: relative;
		top:4px;
	}
	
/** Contacts Page **/

#alpha_filter {
	margin-top:10px;	
	border:1px solid #c8c8c8;
	border-bottom:none;
	text-align:center;
	padding:5px 0;
	font-size:12px;
	letter-spacing:.3em;
	font-weight:bold;
}
#alpha_filter #selected {
		
	color:#777;
}
#all_contacts,#recent_leads {
	border-bottom:1px solid #c8c8c8;	
}
.contact_row {
	padding:7px;	
	font-size:14px;
	border:1px solid #c8c8c8;
	border-bottom:none;
}
.contact_row:nth-child(even){
	background:#f0f0f0;	
}
.contact_row:hover{
	background:#FAF8D3;	
	cursor:pointer;
}
.contact_row:last-child{
	border-bottom:1px solid #c8c8c8;	
}
	.contact_row strong {
		font-weight:bold;
		margin-right:5px;
			
	}
.contact_details {
	padding:4px;	
}
.contact_details h2 {
		font-size:20px;
		font-weight:600;
		color:#000;
			
	}
	.contact_details h3 {
		font-size:14px;
		color:#626262;
		margin-top:6px;		
		font-weight:600;
	}
	.contact_details .address {
		font-size:13px;
		color:#808080;
		font-weight:600;	
	}
	.contact_details .social_link{
		font-size:13px;
		color:#626262;	
		margin-right:10px;
		font-weight:600;
	}
	.contact_details .facebook {
		color:#4c67a1;	
	}
	.contact_details .linkedin {
		color:#2b84c6;	
	}
	.contact_details .email {
		color:#e0442e;	
	}
	.contact_details .off {
		color:#8c8c8c;	
	}
	.contact_details .social_link img {
		position:relative;
		top:3px;
			
	}
/** Contact Form List **/

.contact_form_row{
		font-size:14px;
		border-bottom:1px solid #c8c8c8;
		margin:4px 0;
}
	.contact_form_row .form_name{
		padding:8px;
		letter-spacing:.07em;
		font-weight:bold;
		color:#595959;
		padding-top:4px;
		
			
	}
	.contact_form_row .meta {
		padding:0px;
		text-align: right;
		line-height: 18px;
		font-weight: normal;
	}
	.contact_form_row .meta strong {
		font-size:14px;
	}
	.contact_form_row .form_links {
		padding-left:8px;
		border-top:none;	
		margin-bottom:8px;
	}
	.contact_form_row .form_links .form_link {
		float:left;
		margin-right:8px;	
	}
	.contact_form_row .form_links .form_link span {
		position:relative;
		top:-3px;
		color:#026fa8;
		font-size:12px;
		padding-left:3px;	
	}
	.form_links .button {
		padding:3px 9px 3px 6px;
		font-size:13px;
	}
/** Create Form Stlyes **/

.form_field {
	border:1px solid transparent;
	}
.form_field:hover{
	
}
	input.form_field,textarea.form_field,select.form_field{
		padding: 5px;
		font-size: 14px;
		border:1px solid #c0c0c0 !important;
	}
	.form_field .edit_field {
		border:1px solid #C2D7EF;
		background:#DFEFFE;
		padding:10px;
	}
	.form_field .edit_field .right {
		text-align:right;	
		padding-top:7px;
		line-height:24px;
	}
	.form_field .edit_field .right .delete-field {
		margin-right:1px;	
	}
	.form_field .edit_field .required {
		color:#8F6C6D;
		font-size:13px;
		position:relative;
		top:-2px;	
		left:-5px;
	}
	.form_field .edit_field .edit_label {
		color:#8090A1;
		font-size:14px;
		margin-left:5px;
	}
	.form_field .edit_field .red {
		color:#802222;
		font-size:13px;
		position:relative;
		top:-2px;
		left:-5px;	
	}
	.form_field .edit_field .checkbox {
		border:1px solid #afa985;
		background:#fff;
		width:12px;
		height:12px;
		display:inline-block;
	}
	.form_field .edit_field .edit_select{
		border:1px solid #e6e4c3;
		padding:10px;
		margin:3px 0;
		background:rgba(255,255,255,.5);
	}
	.form_field .edit_field .add_select_option{
		text-align:center;
		padding:5px 0;
		cursor:pointer;	
	}
	.form_field .edit_field .add_select_option img {
		position:relative;
		top:1px;	
	}
	.form_field .preview_field{
		padding:10px;	
		border:1px solid transparent;
		background:url('../img/handle.png') 99% center no-repeat;
		
	}
	.form_field .preview_field:hover{
		
		border:1px dashed #0C7EB9;
	}
	.form_field .edit {
		border:1px solid #C2D7EF;
		padding:3px;
		margin:0px 0px;	
	}
	
	.form_field .preview {		
		background:#fff !important;
		border:1px solid #c7c7c7;
		padding:7px;
		font-size:14px;
		color:#777;	
		width:280px;
	}
	.date_picker_field {
		width:120px !important;	
	}
	.form_field .preview_field .field_label{
		padding-bottom:9px;	
	}
	.form_field .preview_field .right {
		position:relative;
		top:23px;
		font-size:13px;	
		padding-right:10px;
		cursor:pointer;
	}
	.form_field .preview_field .right img {
		position:relative;
		top:3px;
		margin-right:5px;	
	}
	#form_fields .sortable-placeholder{
		height:120px;
		border-bottom:1px solid #c8c8c8;	
	}
/** Admin Styles **/
#settings_list li {
	font-size:13px;
	padding:5px;	
}
	.team_member {
		font-size:15px;	
		padding:7px;
		border-bottom:1px solid #c9c9c9;
	}
	.team_member .capital {
		text-transform: uppercase;
		font-size:12px;
		position: relative;
		top:2px;
	}
	h2 {
		background:#fff;	
		padding-right:10px;
		position:relative;
		z-index:5;
	}
	hr.title_line {
		border:none;
		width:100%;
		height:1px !important;
		background:#e3e3e3;
		position:relative;
		top:-6px;
	}
	
	.team_member img {
		margin:2px 8px 0 0;
		position: relative;
		top:-1px;	
	}
	.team_member .right small {
		font-size:12px;	
		position:relative;
		
	}
	.team_member small.grey {
		color:#999;	
		
	}
	.milestone_row, .status_row {
		padding:6px;
		font-size:12px;
		padding-bottom:2px;
		border-bottom:1px solid #c8c8c8;
		
	}
	.milestone_row ,	.status_row {
		position: relative;
		top:3px;
		padding-right:20px;
		background: url('../img/order.gif') center right no-repeat;
	}
	.show,.hide {
		position:relative; top:3px;	
	}
	.milestone_name {
		width:200px;
		font-weight:bold;	
		font-size:14px;	
	}
	.milestone_select {
		
	}
	.ui-sortable-placeholder {
		border: 1px dashed #c0c0c0;
		visibility: visible !important;
		margin: 2px;
		background: #f8f8f8;
	}
	.milestone_row .left a, .status_row .left a  {
		position:relative;
		top:2px;	
	}
	.milestone_row a.disabled, .status_row a.disabled {
		cursor:default;
		color:#333;	
	}
	.milestone_row .right, .status_row .right {
		position:relative;
		top:-2px;	
	}
	.milestone_row .right span, .status_row .right span {
		position:relative;
		top:-2px;	
	}
#milestone_list .sortable-placeholder, #status_list .sortable-placeholder{
		height:24px;
		border-bottom:1px solid #c8c8c8;	
	}

/** Form Settings Styles **/

#form_settings {
	
	margin-right:5px;
	font-size:13px;
}
#form_settings strong {
	font-weight:bold;
	display:block;
	margin-bottom:3px;
}
#form_settings input[type=text]{
	width:200px	
}
#style_settings{
	
}
#form_settings .right small {
	text-transform:uppercase;
	color:#999;
	font-size:12px;
	text-align:center;
	display:block;	
}
#full_width{
	width:100%;
	border: 1px solid #C8C8C8;
	background:#FFF;
	padding:10px;
}
#form_preview {
	padding:5px;
	margin:0px;
	border:1px solid #c8c8c8;
}
.text-error{
	background:#F99;
	border: 1px solid #F00;
}

/** Account Settings **/

.membership-plan {
	font-size:13px;
	padding:15px;
	margin: 5px;
	display: block;
	height: auto;
	background: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
	border:1px solid #c0c0c0;
	padding: 10px;
	text-align: center;	
	text-decoration: none;
	color: black;
	float: left;
	width:85px;
	height: 80px;
	overflow: hidden;
	background: #FCFCFC;
	background: linear-gradient(top,#FDFDFD 0,#FCFCFC 10%,#F6F6F6 60%,#F0F0F0 80%,#EDEDED 90%);
	background: -webkit-linear-gradient(top,#FDFDFD 0,#FCFCFC 10%,#F6F6F6 60%,#F0F0F0 80%,#EDEDED 90%);
	background: -webkit-gradient(linear,0% 0,0% 100%,color-stop(0,#FDFDFD),color-stop(0.1,#FCFCFC),color-stop(0.6,#F6F6F6),color-stop(0.8,#F0F0F0),color-stop(0.9,#EDEDED));
	background: -moz-linear-gradient(top,#FDFDFD 0,#FCFCFC 10%,#F6F6F6 60%,#F0F0F0 80%,#EDEDED 90%);
	text-shadow:  0px 1px 0px rgba(255, 255, 255, 1);
	color:#333;
}
.membership-plan img {
	display: block;
	margin:5px 0;
}
.membership-plan .strong {
	color:#2F5893;
}
.membership-plan .small {
	text-transform: uppercase;
	font-size: 10px;
	color:#888;
}
.membership-details {
	font-size:13px;
	position:relative;
	top:20px;
}
.membership-details tr td {
	padding:5px;
}
#main .message {
	text-align: center;
	font-size:13px;
	padding: 15px;
	background: #f8f8f8;
	margin: 5px;
	border-radius: 5px;
	font-weight:normal;
	color:#999;
	border: 1px solid #d8d8d8;
}
#main .message span {
	font-size:14px;
	font-weight: bold;
	color:#333;
	margin-bottom: 10px;
	display: block;
}
/************************************
   SWATCHES, COLORS & RIBBONS
*************************************/
.swatch_select {
    width:10px;
    height:10px;
    line-height:12px;
    border:1px solid #ccc;
    padding:0px 1px 2px 0;
    font-size:10px;
    MARGIN:2PX;
    font-family:"sans-serif";
    font-size:0px;
    position:relative;
	top:-2px;
	margin-right:5px;
}
.swatch_select:hover{
    font-size:10px;
    cursor:pointer;    
}
.swatch_options{
    position:absolute;
    top:14px;
    left:-1px;
	z-index:6;
	background:#fff;
    width:78px;
    display:none;
    padding:3px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border:1px solid #ccc;   
    
    font-family:"sans-serif";
    
}
.swatch_option{
    width:10px;
    height:10px;
    border:1px solid #ccc;
    padding:0px 2px 2px 1px;
    font-size:0px;
    margin:2px;
    float:left;
    font-family:"Arial";
    text-align:center;
}
.color_5{
    background:#cc6666;
    border-color:#b35959;
    color:#fff;   
}
.color_5.milestone_capsule{
    color:#cc6666 !important;       
}
.color_5.active{
    background-color:#cc6666 !important;
    border-color:#b35959;
    color:#fff !important;   
}

.color_8{
    background:#ffcc99;
    border-color:#e5b88a;
    color:#997a5c;   
}
.color_8.milestone_capsule{
    color:#ffcc99;
    border-color:#e5b88a;
      
}
.color_8.active{
    background-color:#ffcc99;
    border-color:#e5b88a;
    color:#997a5c;   
}
.color_2{
    background:#999900;
    border-color:#808000;
    color:#fff;   
}
.color_2.milestone_capsule{
    color:#999900 !important;
    border-color:#808000;
       
}
.color_2.active{
    background-color:#999900 !important;;
    border-color:#808000;
    color:#fff !important;   
}
.color_1{
    background:#669900;
    border-color:#558000;
    color:#fff;   
}
.color_1.milestone_capsule{
    color:#669900 !important;
    border-color:#558000;
      
}
.color_1.active{
    background-color:#669900 !important;;
    border-color:#558000;
    color:#fff !important;   
}
.color_3{
    background:#339999;
    border-color:#2a8080;
    color:#fff;   
}
.color_3.milestone_capsule{
    color:#339999 !important;;
    border-color:#2a8080;
     
}
.color_3.active{
    background-color:#339999 !important;;
    border-color:#2a8080;
    color:#fff;   
}
.color_4{
    background:#0066cc;
    border-color:#0059b3;
    color:#fff;   
}
.color_4.{
    color:#0066cc !important;
    border-color:#0059b3;
    color:#fff;   
}
.color_4.milestone_capsule{
    color:#0066cc !important;;
    border-color:#0059b3;   
}
.color_4.active{
    background-color:#0066cc !important;;
    border-color:#0059b3;
    color:#fff !important;   
}
.color_7{
    background:#ff6600;
    border-color:#e55c00;
    color:#fff;   
}
.color_7.milestone_capsule{
    color:#ff6600 !important;;
    border-color:#e55c00;
       
}
.color_7.active{
    background-color:#ff6600 !important;;
    border-color:#e55c00;
    color:#fff !important;   
}
.color_6{
    background:#993333;
    border-color:#802a2a;
    color:#fff;   
}
.color_6.milestone_capsule{
    color:#993333 !important;
    border-color:#802a2a;
     
}
.color_6.active{
    background-color:#993333;
    border-color:#802a2a;
    color:#fff;   
}
/** FEATURE TOUR **/
.tour_feature {
	padding:15px; 
	margin: 10px 0;
}
.tour_feature_image {
	padding:5px;
	background:#fff;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	-moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	position: relative;
	
}
.tour_feature_image.left{
	margin-right:15px;
}
.tour_feature_image.right{
	margin-left:15px;
}
.tour_feature_image img {
	border:1px solid #ccc;
}
.tour_feature_image .play {
	background:url('../img/play.png');
	width:50px;
	opacity: 1;
	height: 46px;
	position: absolute;
	left:104px;
	top:48px;
	display: none;
}
.tour_feature_image:hover .play{
	display: block;
}
.tour_feature_text {
	padding: 0px;
	margin:5px 10px;
	font-size: 13px;
	color:#555;

}
.tour_feature_text p{
	padding:5px 0;
}
.tour_feature_text h3 {
		color:#10699C;
	font-size:13px;
	margin-top: -2px;
	text-transform: ;
	padding-bottom: 5px;
}
.tour_feature_text a {
	color:#10699C;
	text-decoration: none;
}
.tour_feature_text h1 {
	color:#10699C !important;
	margin:5px 0;
	float:none !Important;
	
}
.tour_feature_text p {
	line-height: 18px;
}
.align-right {
	text-align: right;
}

/*** STATISTICS STYLES ***/

.collapse_graph {
	border:1px solid #c8c8c8;
	margin-bottom:12px;
	padding-bottom: 10px;
}
	.collapse_graph .title {
		border-bottom: 1px solid #c8c8c8;
		padding: 7px;
		font-size: 14px;
		font-weight: bold;
		background-color: whiteSmoke;
		background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#F1F1F1));
		background-image: -webkit-linear-gradient(top,#fff,#F1F1F1);
		background-image: linear-gradient(top,#fff,#F1F1F1);


	}
/*** SUPPORT STYLES ***/
	#interior input[type=text],#interior textarea{
		border:1px solid #c8c8c8;
		padding:5px;
		border-radius:3px;
		box-shadow:inset 0px 1px 3px 0 rgba(0,0,0,.2);
	}
	.convo {
		border: 1px solid #CCCCCC;
		margin-bottom: 15px;
	}
	.convo .click {
		padding: 12px 10px;
	}
	.click h3 {
		color: #888;	
	}
	.click:hover h3 {
		color: #333;
	}
	.click .user {
		border-color: #666;
	}
	.click:hover .user {
		border-color: #000;
	}
	#search_user {
		outline: none;	
	}
	.autocomplete {
		position: absolute;
		background: #fff;
		border:1px solid #adadad;
		border-top: none;
		margin-top: -1px;
	}
	.autocomplete li {
		padding: 4px;
		color: #888;
		font-weight: bold;
	}
	.autocomplete li:hover {
		color: #333;
		cursor: pointer;
	}
	.autocomplete .disabled {
		font-weight: normal;
		color: #999 !important;
		cursor: default !important;
	}
	.message {
		border-top: 1px dashed #CCCCCC;
		padding: 8px 10px;
	}
	.notification{
		cursor: pointer;
		padding: 4px 6px;
		border: 1px solid #acacac;
	}
	.notification .indicator {
		color: #841E45;
		font-weight: bold;
	}
	.notification:hover .indicator{
		color: #490A3A;
	}
	.notecontainer{
		margin-bottom:6px;
		position:relative;
	}
	.removenote{
		position:absolute;
		right: 6px;
		top: 6px;
	}
	.removenote a{
		text-decoration:none;
		padding:2px;
	}
	

/** CALENDAR **/
.container{
	border: 1px solid #D7D7D7;
	padding: 4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin:3px;
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
.container a{
	color:#F00;
	margin-top:-2px;
	display:block;
	float:left;
	margin-left:3px;
}





/** FACEBOOK STUFF **/

.facebook_area{
	background: #F2F2F2;
	border: 1px solid #CCCCCC;
	padding:5px;
	
}

.fb_page{
	padding:5px;
	border: 1px solid #CCCCCC;
	margin:5px 0;
	background: #fff;
}