/****LOGGED OUT STYLES**/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1;-webkit-font-smoothing: antialiased;}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}
body{font-family:"Open Sans",sans-serif; font-size:14px;}
h1{
	font-size:17px;
	color:#026fa8;
	margin:5px 0;
	float:left;
	font-weight:bold;
}
h2{
	font-weight:bold;
	font-size:18px;	
}
hr{
	border:none;
	border-bottom:1px solid #c8c8c8;
	margin-bottom:10px;	
}
input[type=text], textarea, select{
	padding:3px;
	font-size:14px;	
}
body.dark {
	background:#f0f0f0;
}	
table[cellpadding="5"] tr td {
	padding:5px;	
}
b,strong {
	font-weight:bold;	
}
em {
	font-style:italic;	
}
#full_width ul li {
	list-style: inside !important;
	margin-left:15px;
	font-style: normal;
}
.dark-box h2{
	color:#738C99;
}
.left{float:left;}.right{float:right;}.clear{clear:both;}
.inner {
	width:980px;
	margin:auto;	
}
.button {
	color: #777;
	background:whiteSmoke;
	background-image: -webkit-linear-gradient(top, whiteSmoke, #F1F1F1);
	font-size: 12px;
	font-weight: 600;
	overflow: hidden;
	border-radius: 2px;
	border: solid 1px #CCC;
	position: relative;
	cursor: pointer;
	display: block;
	padding: 7px;
	font-weight: 500;
	text-align:center;
}
.box {
	
	padding:10px 0;
	color:#444;
	margin: 10px 0;
	font-size: 13px;
}
	.box h3 {
		font-weight: bold;
		font-size: 16px;
		color:#555;
	}
.feature {
	margin:15px 0;
	font-size: 14px;
	color:#898989;
	font-weight: bold;
}
	.feature img {
		margin-right:5px;
	}
	.feature div {
		position: relative;
		top:2px;
	}
.hand {
	font-family: 'Schoolbell', cursive;	
}
.bold {
	font-weight:bold;	
}
.yellow{
	color:#FEBC4A;	
}
.blue_button{
	background: #0491d8; /* Old browsers */
	background: -moz-linear-gradient(top, #0491d8 0%, #026fa8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0491d8), color-stop(100%,#026fa8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0491d8 0%,#026fa8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0491d8 0%,#026fa8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #0491d8 0%,#026fa8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #0491d8 0%,#026fa8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0491d8', endColorstr='#026fa8',GradientType=0 ); /* IE6-9 */
	border: 1px solid #015380;
	color: white !important;
	box-shadow:  inset 0 1px 0 0 rgba(255,255,255,0.45);	
	padding-top:8px;
}
.green_button{
	background: #39a802; /* Old browsers */
	background: -moz-linear-gradient(top, #4bd904 0%, #39a802 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4bd904), color-stop(100%,#39a802)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4bd904 0%,#39a802 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4bd904 0%,#39a802 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4bd904 0%,#39a802 100%); /* IE10+ */
	background: linear-gradient(to bottom, #4bd904 0%,#39a802 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4bd904', endColorstr='#39a802',GradientType=0 ); /* IE6-9 */
	border: 1px solid #11701e;
	text-shadow:#11701e 0 -1px 0;
	color: white !important;	
	padding:14px;
	text-decoration:none;
	font-weight:bold;
	font-size:16px;
	text-align:center;
	border-radius:2px;
}
.title_img {
	display:block;
	margin:auto;	
}
.dark-box {
	background:#e5f0f6;
	padding:20px;	
	width:980px;
	margin:auto;
	border:1px solid #A1C1D3;
	border-top:none;
}
#header {
	height:85px;
	padding-top:5px;
	border-bottom:1px solid #005987;	
}
#header .button, #header .green_button {
	padding:14px;
	text-decoration:none;
	font-weight:bold;
	font-size:16px;
	margin-left:5px;
	margin-top:20px;
	border-radius:0px !important;
}
#nav {
	background:#0c7eb9;
	height:50px;
	
	border-bottom:1px solid #004163;
}
#nav .inner {
	border-left:1px solid #005987;
	
}
	
	#nav a.link {
		display:block;
		float:left;
		height:50px;
		line-height:50px;
		color:#fff;
		border-left:1px solid #005987;
		border-right:1px solid #2696d0;	
		font-size:18px;
		font-weight:bold;
		padding:0px 18px;
		text-shadow:#005987 0 1px 0;
		text-decoration:none;
	}
	#nav a.first {
		border-left: 1px solid #2696D0;
	}
	#nav a.link:hover {
		background:#005987;
		cursor:pointer;	
	}
#showcase,#footer {
	border-top:1px solid #004163;
	background: #005987; /* Old browsers */
	background: -moz-linear-gradient(top,  #005987 0%, #0594df 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#005987), color-stop(100%,#0594df)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #005987 0%,#0594df 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #005987 0%,#0594df 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #005987 0%,#0594df 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #005987 0%,#0594df 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005987', endColorstr='#0594df',GradientType=0 ); /* IE6-9 */
	min-height:390px;
	border-bottom:1px solid #005987;
}
#footer {
	min-height:135px;
	padding-top:20px;
}	
	#footer ul {
		margin-top:10px;	
	}
	#footer .right {
		color:#fff;
		font-size:13px;
		margin-top:20px;
		line-height:18px;	
	}
	#footer .right a {
		color:#b3e3ff;	
	}
	#footer hr {
		border:none;
		border-bottom:1px solid #4188ad;	
	}
	#footer ul li {
		color:#b3e3ff;
		padding:5px 0;	
		font-size:14px;
	}
	#footer ul li a {
		color:#b3e3ff;
		text-decoration:none;
		padding:5px 0;	
		font-size:14px;
	}
#content {
	height:1000px;	
}
#content h1 {
	font-size:24px;
	font-weight:bold;	
	color:#666;
}
#content .team {
	margin:10px 0;
	font-size:13px;
	color:#999
}
#content .team strong {
	font-weight:bold;	
	font-size:14px;
	color:#666;
}
/** Index / Homepage **/
.why_box {
	width: 450px;
	margin: 7px 0;
	background:#fff;
	padding:15px;
	border:1px solid #A1C1D3;
	font-size:14px;
	line-height:19px;
	color:#484848;
}
	.why_box .icon {
		float:left;
		height:136px;
		padding-right:10px;	
	}
	.why_box .caption .tagline {
		font-size:16px;
		font-weight:bold;	
	}
.who_list {
	font-size:16.65px;
	padding:8px 0;	
	color:#484848;
	background:url('../img/dot.png') center left no-repeat;
	padding-left:14px;
}
.who_box {
	width:500px;
	padding:10px;
	text-align:right;
	font-size:12px;		
	margin-top:30px;
	color:#999;
}
	.who_box .avatar {
		float:left;
		margin-right:5px;	
		border:3px solid #c1d8e5;
		margin-right:15px;
	}
	.who_box p {
		text-align:left;
		font-size:14px;	
		color:#555;
		line-height:17px;
		margin-bottom:10px;
	}
.how_number{
	width:32%;	
	font-weight:bold;
	font-size:15px;
	color:#fff;
	text-align:center;
}
.how_number .hand {
	font-size:24px;
	color:#c9ecff;
	position:relative;
	top:3px;	
	font-weight:normal;
}
.how_number img {
	border:5px solid #014e76;
	border-radius:10px;	
}

/** Plans **/
.plan {
	width:220px;;
	margin:0px;	
	float:left;
	background:#fff;
	border-radius:5px;
	padding:10px;
	text-algin:center;
	color:#525252	;
	text-align:center;
	font-size:16px;
	border:7px solid #0b608d;
}
	.plan div {
		text-algin:center;	
	}
	.plan span.strong{
		font-weight:bold;	
	}
	.plan .blue {
		color:#0c7eb9;
		text-transform:uppercase;
		font-weight:bold;	
	}
	.plan .huge {
		font-weight:bold;
		color:#01476c;
		font-size:36px;
		text-align:center;	
	}
	.plan hr{
		border:none;
		border-bottom:1px solid #cedee7;
		margin:8px 0;	
	}
	.plan small {
		font-size:12px;
		color:#ee8600;
		display:block;
		margin-top:10px;	
		font-weight:bold;
		text-transform:uppercase;
	}
	center.checks {
		font-size:18px;
		color:#444;	
		text-align:left;
		display:block;
		width:660px;
		margin:auto;
		
	}
	.checks img {
		position:relative;
		top:10px;	
	}
	#full_width{
	width:100%;
	min-height:600px;
	background:#FFF;
	padding:10px;
}

/** FEATURE TABLE **/
.feature_table {
	border:5px solid #0F5579;
}
.feature_table tr th{
	background: #E4EBEF;
	height: 60px;
	padding: 5px;
	padding-top:10px;
	text-align: center;
	line-height: 20px;
	border-bottom: 1px solid #c0c0c0;
	border-right:1px solid rgba(0,0,0,0.1);
	font-size: 13px;
}
.feature_table tr td {
	background: #fff;
	padding: 10px;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	color:#435863;
	border: 1px solid #c0c0c0;
}

.feature_table tr td:first-child, .feature_table tr th:first-child{
	font-weight: normal;
	text-align: right;
	vertical-align: middle;
background:#fff;

	font-weight: normal;
	color:#435863;
	font-size: 15px;
}
.feature_table tr td.plan-pro{
	background:#fff;
	
}
 .feature_table tr th.plan-pro{
 background:#BFD9E7;
 }
.feature_table tr td .check {
	margin-top: px;
}
.plan-name {
	font-size:24px;
	font-weight: bold;
	color:#02456d;
}

.plan-price {
	font-size:16px;
	color:#0d7abb;
	position: relative;
	top:2px;
	font-weight: bold;
}
.plan-caption {
	font-size:12px;
	font-weight: bold;
	text-transform: uppercase;
	color:#f18f2d;
}

/***/
.text-error{
	background:#F99;
	border: 1px solid #F00;
}
#center-box {
	width:560px;
	
	height:240px;	
	margin:auto;
	color:#fff;
	position:relative;
}
#center-box .white {
	border:1px solid rgba(0,0,0,.75);
	margin-top:10px;
	background:#fff;
	border-radius:5px;	
	padding:15px;
	color:#333;
	box-shadow:rgba(255,255,255,0.2) 0 1px 0 0;	
}
#center-box h2 {
	line-height:26px;	
}
#center-box .dark-box {
	width:auto;	
}
.strong {
	font-weight:bold;	
}
.big-input{
	font-size:16px;
	padding:6px;	
	min-width:305px;
	margin:2px 0px;
	border-radius:4px !Important;
	border:1px solid #c8c8c8;
}
body.dark {
	background:#004163;
	-webkit-background-clip: padding-box;

}
input[type=submit].big-input {
	background: #0491d8; /* Old browsers */
	background: -moz-linear-gradient(top, #0491d8 0%, #026fa8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0491d8), color-stop(100%,#026fa8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0491d8 0%,#026fa8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0491d8 0%,#026fa8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #0491d8 0%,#026fa8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #0491d8 0%,#026fa8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0491d8', endColorstr='#026fa8',GradientType=0 ); /* IE6-9 */
	border: 1px solid #015380;
	color: white !important;
	width:120px;
	padding:10px 0;	
}	

/** FEATURE TOUR **/
.tour_feature {
	padding:15px; 
	margin: 10px 0;
}
.tour_feature_image {
	padding:5px;
	background:#fff;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	-moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	position: relative;
	
}
.tour_feature_image.left{
	margin-right:15px;
}
.tour_feature_image.right{
	margin-left:15px;
}
.tour_feature_image img {
	border:1px solid #ccc;
}
.tour_feature_image .play {
	background:url('../img/play.png');
	width:50px;
	opacity: 1;
	height: 46px;
	position: absolute;
	left:104px;
	top:48px;
	display: none;
}
.tour_feature_image:hover .play{
	display: block;
}
.tour_feature_text {
	padding: 0px;
	margin:5px 10px;
	font-size: 13px;
	color:#555;

}
.tour_feature_text p{
	padding:5px 0;
}
.tour_feature_text h3 {
		color:#10699C;
	font-size:13px;
	margin-top: -2px;
	text-transform: ;
	padding-bottom: 5px;
}
.tour_feature_text a {
	color:#10699C;
	text-decoration: none;
}
.tour_feature_text h1 {
	color:#10699C !important;
	margin:5px 0;
	
}
.tour_feature_text p {
	line-height: 18px;
}
.align-right {
	text-align: right;
}